{% extends 'base.html' %}



{% block content %}
    <h1>Add Income</h1>
    <div class="container mt-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
          </ol>
        <div class="text-end rows-col-md-4">
            <a href="{% url 'add-income-source' %}" class="btn btn-primary">Add New Source</a>
        </div>
        </nav>
    </div>
    <div class="card-body">
        <form action="{% url 'add-income' %}" method="post">
            {% include 'partials/_messages.html' %}
            {% csrf_token %}
            <div class="form-group">
                <label for="">Amount</label>
                <input type="number" class="form-control form-control-sm" name="amount" value="{{ values.amount }}">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}">
            </div>
            <div class="form-group">
                <label for="">Sources</label>
                <select name="source" class="form-control">
                    {% for source in sources  %}
                        <option value="{{ source }}" name="source">{{ source }}</option>

                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="">Date of Income</label>
                <input type="date" class="form-control form-control-sm" name="income_date">
            </div>
            <div class="btn-group-lg ">
                <input type="submit" value="Add Income" class="btn btn-primary btn-primary-sm">
            </div>
        </form>

    </div>


{% endblock %}

