{% extends 'base.html' %}



{% block content %}
    <h1>Add Expense</h1>
    <div class="container mt-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
          </ol>
            <div class="text-end rows-col-md-4">
                <a href="{% url 'add-expenses-category' %}" class="btn btn-primary">Add New Category</a>
            </div>
        </nav>

    </div>
    <div class="card-body">
        <form action="{% url 'add-expenses' %}" method="post">
            {% include 'partials/_messages.html' %}
            {% csrf_token %}
            <div class="form-group">
                <label for="">Amount</label>
                <input type="number" class="form-control form-control-sm" name="amount" value="{{ values.amount }}">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}">
            </div>
            <div class="form-group">
                <label for="">Category</label>
                <select name="category" class="form-control">
                    {% for category in categories  %}
                        <option value="{{ category }}" name="category">{{ category }}</option>

                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="">Date of Expense</label>
                <input type="date" class="form-control form-control-sm" name="expense_date">
            </div>
            <input type="submit" value="submit" class="btn btn-primary btn-primary-sm">
        </form>

    </div>


{% endblock %}

